<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/recuperacao.css" />
    <title>Cadastro - Atividade 5 - FIAP</title>
  </head>
  <body>
    <header>
      <h2>Esqueceu a senha?</h2>
    </header>

    <div class="intro-recover">
      <p>Fique tranquilo! Vamos recuperar sua senha.</p>
      <p class="email-cadastrado">Digite o email cadastrado:</p>
      <form action="submit">
        <div><img src="/assets/imgs/mail.png" alt="email icon" /></div>
        <input placeholder="E-mail" type="email" name="email" class="email" />
      </form>
      <button>RECUPERAR</button>
    </div>

    <footer>
      <div class="footer-div">
        <h2>Tudo certo?</h2>
        <button>Entre aqui!</button>
      </div>
    </footer>
  </body>
</html>
